<% layout("./layouts/boilerplate") -%>
<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <h3 class="mb-4 text-center">Fill the details</h3>
        <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">

          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" id="title" placeholder="Enter title" type="text" class="form-control" required />
            <div class="invalid-feedback">
            Please choose a username.
          </div>
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" id="description" placeholder="Enter description" class="form-control"  required></textarea>
            <div class="invalid-feedback">
            Please provide description
            </div>
          </div>

          <div class="mb-3">
            <label for="image" class="form-label">Upload the Image</label>
            <input name="listing[image]" id="image" placeholder="Enter image URL" type="file" class="form-control"   />
            
          </div>

          <!-- Row with col-4 and col-8 -->
          <div class="row mb-3">
            <div class="col-md-4">
              <label for="price" class="form-label">Price (₹)</label>
              <input name="listing[price]" id="price" placeholder="Enter price" type="number" class="form-control"  required/>
              <div class="invalid-feedback">
            Please provide valid price
          </div>
            </div>

            <div class="col-md-8">
              <label for="country" class="form-label">Country</label>
              <input name="listing[country]" id="country" placeholder="Enter country" type="text" class="form-control"  required />
              <div class="invalid-feedback">
              Please provide country
          </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" id="location" placeholder="Enter location" type="text" class="form-control"  required />
            <div class="invalid-feedback">
            Please provide location
          </div>
          </div>

          <div class="d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          <br>
        </form>
      </div>
    </div>
  </div>
</body>
